{% extends 'base.html' %}

{% block content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="keyword">
        <button type="submit">검색</button>
    </form>
    <ul>
        {% if form_error1 %}
        <h3>아티스트로부터 검색</h3>
        <li>{{ form_error1 }}</li>
        {% endif %}
        {% for song in songs_from_artists %}
        <h3>아티스트로부터 검색</h3>
        <li> 타이틀: {{ song.title }}, 앨범: {{ song.album }}, 아티스트: {% for artist in song.artists %} {{ artist }} {% endfor %}</li>
        {% endfor %}
    </ul>
    <ul>
        {% if form_error2 %}
        <h3>앨범으로부터 검색</h3>
        <li>{{ form_error2 }}</li>
        {% endif %}
        {% for song in songs_from_albums %}
        <h3>앨범으로부터 검색</h3>
        <li>타이틀: {{ song.title }}, 앨범: {{ song.album }}, 아티스트: {% for artist in song.artists %} {{ artist }} {% endfor %}</li>
        {% endfor %}
    </ul>
    <ul>
        {% if form_error3 %}
        <h3>타이틀로부터 검색</h3>
        <li><{{ form_error3 }}</li>
        {% endif %}
        {% for song in songs_from_title %}
        <li>타이틀: {{ song.title }}, 앨범: {{ song.album }}, 아티스트: {% for artist in song.artists %} {{ artist }} {% endfor %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}